#page-container {
  height: 46px;
  color: white;
  width: 100%;
  background-color: #ee7419;
}
#page-container .page-header-title span {
  display: inline-block;
  line-height: 18px;
  height: 18px;
  font-size: 18px;
  color: white;
  font-weight: bold;
  padding-top: 14px;
  padding-left: 8px;
}
#page-container .page-header-subtitle span {
  font-size: 15px;
  height: 15px;
  display: inline-block;
  line-height: 15px;
  padding-top: 18px;
  padding-left: 82px;
  color: white;
}
.header-left-side {
  height: 46px;
  background-color: #ee7419;
}
.header-right-side {
  height: 46px;
  background-color: #ee7419;
}
